{% extends 'components/Encabezado.html' %}
{% block content %}
    <main class="container py-5">
        <section class="card card-body">
            <div class="row">
                <div class="col-md-12">
                    <h1 class="text-center display-1">Sobre Encriptador</h1>
                    <p class="text-center">Encriptador es una aplicación web que permite encriptar y desencriptar
                        mensajes de texto
                        (encriptados
                        por la
                        misma web). Es un proyecto personal el cual aun sigue en mejoras para poder optimizar su
                        rendimiento
                        y
                        arreglando errores que surgen en el desarrollo, espero les sea util mi pagina web.</p>
                    <p class="text-center">Si deseas contactarme puedes hacerlo a través de mi correo: <a
                            href="">acostasantiago311124578@gmail.com</a></p>
                </div>
            </div>
        </section>
    </main>
{% endblock %}