{% extends 'components/Encabezado.html' %}
{% block content %}
    <main class="container mt-5" style="min-width:300px; max-width: 60%">
        <section class="card card-body">
            <h1 class="display-1 text-center">Crear contraseña</h1>
            {% if error %}
                <h3>{{ error }}</h3>
            {% endif %}
            <form action="/passwords/create/" method="post">
                {% csrf_token %}
                <div class="form-floating mb-3">
                    {{ form.password_name }}
                    <label for="floatingInputName">Nombre</label>
                </div>
                <div class="row g-2 mb-3">
                    <div class="col-md">
                        <div class="form-floating">
                            {{ form.password_email }}
                            <label for="floatingInputEmail">Correo electrónico</label>
                        </div>
                    </div>
                    <div class="col-md">
                        <div class="form-floating">
                            {{ form.password_username }}
                            <label for="floatingInputUsername">Usuario</label>
                        </div>
                    </div>
                </div>
                <div class="form-floating mb-3">
                    {{ form.password }}
                    <label for="floatingInputPassword">Contraseña</label>
                </div>
                <div class="form-floating mb-3">
                    {{ form.password_origin }}
                    <label for="floatingInputOrigin">Origen</label>
                </div>
                <div class="text-lg-end">
                    <button class="btn btn-dark mx-3" type="submit">Guardar</button>
                    <a class="btn btn-outline-dark" href="{% url 'Passwords_Page' %}">Volver</a>
                </div>
            </form>
        </section>
    </main>

{% endblock %}