{% extends 'components/Encabezado.html' %}
{% load static %} {% block content %}
    <main class="container mt-5">
        <section class="card card-body">
            <h1 class="display-1 text-center">Cifrar y Descifrar</h1>
            {% if Error %}
                <div class="alert alert-dark" role="alert">
                    {{ Error }}
                </div>
            {% endif %}
            <form name="dec_cif_form" action="" method="post">
                {% csrf_token %}
                <div class="row text-center">
                    <div class="col">
                        <div class="mb-3">
                            <label for="Keys">Seleccione la llave</label>
                            <select name="Keys" id="Keys" class="form-select" aria-label="Default select example">
                                {% for key in keys %}
                                    <option value="{{ key.key_name }}"> {{ key.key_name }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="col">
                        <div class="mb-3">
                            <label for="select_dec_cif">Seleccione la acción a realizar</label>
                            <select class="form-select" aria-label="Default select example" name="select_dec_cif"
                                    id="select_dec_cif">
                                <option selected value="1">Cifrar</option>
                                <option value="2">Descifrar</option>
                            </select>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col">
                        <div class="mb-3">
                            <label for="input_dec_cif" class="form-label">Entrada</label>
                            <textarea name="input_dec_cif" class="form-control"
                                      id="input_dec_cif"
                                      rows="3"></textarea>
                        </div>
                    </div>
                    <div class="col">
                        <div class="mb-3">
                            <label for="output_dec_cif" class="form-label">Salida</label>
                            <p class="form-control  card card-text"
                               id="output_dec_cif"
                            >{{ mensaje }}</p>
                        </div>
                    </div>
                </div>
                <button type="submit" class="btn btn-dark">Enviar</button>
            </form>
        </section>
    </main>
    <script src="{% static 'SelectOptions.js' %}"></script>
{% endblock %}