{% extends 'components/Encabezado.html' %}
{% load static %} {% block content %}
    <main class="container mt-5 mb-5">
        <section class="card card-body">
            {% if passwords_exist %}
                <h1 class="text-center">Bienvenido a sus contraseñas</h1>
                <div class="row ">
                    {% for password in passwords %}
                        <div class="col-sm-3 mb-3 mt-3 mb-sm-0">
                            <div class="card">
                                <div class="card-body">
                                    <h5 class="card-title">{{ password.password_name }}</h5>
                                    <p class="card-text">Usuario: {{ password.password_username }}.</p>
                                    <p class="card-text">Pagina: {{ password.password_origin }}.</p>
                                    <button class="btn btn-dark" type="button"
                                            data-bs-toggle="modal"
                                            data-bs-target="#staticBackdrop_detail_password{{ password.id }}">
                                        Ver contraseña
                                    </button>
                                    <form action="" method="post">
                                        {% csrf_token %}
                                        <input type="hidden" name="password_id" value="{{ password.id }}">
                                        <input type="hidden" value="form_delete_password" name="form_delete_password">
                                        <button class="btn btn-outline-dark" type="submit">
                                            eliminar
                                        </button>
                                    </form>
                                </div>
                            </div>
                        </div>
                        <!-- Modal editar las contraseñas-->
                        <div class="modal fade" id="staticBackdrop_detail_password{{ password.id }}"
                             data-bs-backdrop="static"
                             data-bs-keyboard="false" tabindex="-1"
                             aria-labelledby="staticBackdropLabel{{ password.id }}" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h1 class="modal-title fs-5" id="staticBackdropLabel">Pin de seguridad</h1>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                aria-label="Close"></button>
                                    </div>
                                    <form action="" method="post" name="form_password_detail">
                                        {% csrf_token %}
                                        <div class="modal-body">
                                            <div class="input-group flex-nowrap">
                                                <span class="input-group-text" id="addon-wrapping">Pin</span>
                                                {{ form.master_key }}
                                                <input type="hidden" name="form_password_detail">
                                                <input type="hidden" name="password_id" value="{{ password.id }}">
                                            </div>

                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-outline-dark" data-bs-dismiss="modal">
                                                Volver
                                            </button>
                                            <button type="submit" class="btn btn-dark">Ok</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
                <div class="mt-3 text-lg-end">
                    <button class="btn btn-dark " type="button"
                            data-bs-toggle="modal" data-bs-target="#staticBackdrop">
                        Crear otra contraseña
                    </button>
                </div>
            {% else %}
                <h1 class="text-center">No hay contraseñas</h1>
                <div class="mt-3 text-center">
                    <button class="btn btn-dark" type="button"
                            data-bs-toggle="modal" data-bs-target="#staticBackdrop">
                        Crear
                        sus
                        propias
                        contraseñas
                    </button>
                </div>
            {% endif %}


            <!-- Modal de Crear contraseña-->
            <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false"
                 tabindex="-1"
                 aria-labelledby="staticBackdropLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            {% if master_key_exist %}
                                <h1 class="modal-title fs-5" id="staticBackdropLabel">Pin de seguridad</h1>
                            {% else %}
                                <h1 class="modal-title fs-5" id="staticBackdropLabel">Crea tu Pin</h1>
                            {% endif %}
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        {% if master_key_exist %}
                            <form action="" method="post" name="form_create_password">
                                {% csrf_token %}
                                <div class="modal-body">
                                    <div class="input-group flex-nowrap">
                                        <span class="input-group-text" id="addon-wrapping">Pin</span>
                                        {{ form.master_key }}
                                        <input type="hidden" value="form_create_password" name="form_create_password">
                                    </div>

                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-outline-dark" data-bs-dismiss="modal">Volver
                                    </button>
                                    <button type="submit" class="btn btn-dark">Ok</button>
                                </div>
                            </form>
                        {% else %}
                            <form action="" method="post" name="form_create_password">
                                {% csrf_token %}
                                <div class="modal-body">
                                    <p>Este pin es para poder crear y guardar tus contraseñas también cuando quieras
                                        verlas </p>
                                    <strong>Solo números (máximo y minimo 8 dígitos)</strong>
                                    <div class="input-group flex-nowrap">
                                        <span class="input-group-text" id="addon-wrapping">Pin</span>
                                        {{ form.master_key }}
                                        <input type="hidden" value="form_create_password" name="form_create_password">
                                    </div>

                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-outline-dark" data-bs-dismiss="modal">Volver
                                    </button>
                                    <button type="submit" class="btn btn-dark">Ok</button>
                                </div>
                            </form>
                        {% endif %}
                    </div>
                </div>
            </div>
        </section>
    </main>
{% endblock %}
