{% extends 'components/Encabezado.html' %}
{% load static %} {% block content %}
    <main class="container mt-5 mb-5">
        <section class="card card-body">

            {% if passwords_exist %}
                <h1 class="text-center">Bienvenido a sus contraseñas</h1>
                <form action="" method="get" name="form_find_password">
                    <div class="container overflow-hidden text-center">
                        <div class="row g-0">
                            <div class="col-sm-6 col-md-10">
                                <div class="input-group">
                                    {% csrf_token %}
                                    <input type="text" class="form-control" name="search"
                                           placeholder="Busca tu contraseña"
                                           aria-label="Recipient's username" aria-describedby="button-addon2"
                                           autocomplete="off">
                                    <input type="hidden" value="form_find_password" name="form_find_password">
                                    <button class="btn btn-outline-dark" type="submit" id="button-addon2">Buscar
                                    </button>
                                </div>
                            </div>
                            <div class="col-6 col-md-2 ">
                                {% if cookie_pin %}
                                    <a class="btn btn-dark" href="{% url 'Create_Password' %}">Crear
                                        contraseña</a>
                                {% else %}
                                    <button class="btn btn-dark " type="button"
                                            data-bs-toggle="modal" data-bs-target="#staticBackdrop">
                                        Crear contraseña
                                    </button>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </form>

                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Nombre</th>
                        <th scope="col">Usuario</th>
                        <th scope="col">Origen</th>
                        <th scope="col">Ver</th>
                        <th scope="col">Eliminar</th>
                    </tr>
                    </thead>
                    <tbody class="table-group-divider">
                    {% for password in passwords %}

                        <tr>
                            <th scope="row">1</th>
                            <td>{{ password.password_name }}</td>
                            <td>{{ password.password_username }}</td>
                            <td>{{ password.password_origin }}</td>
                            <td>
                                {% if cookie_pin %}
                                    <a class="btn btn-dark" href="{% url 'password_detail' password.id %}">Ver
                                        contraseña</a>
                                {% else %}
                                    <button class="btn btn-dark" type="button"
                                            data-bs-toggle="modal"
                                            data-bs-target="#staticBackdrop_detail_password{{ password.id }}">
                                        Ver contraseña
                                    </button>
                                {% endif %}
                            </td>
                            <td>
                                <form action="" method="post" id="form_delete_password">
                                    {% csrf_token %}
                                    <input type="hidden" name="password_id" value="{{ password.id }}">
                                    <input type="hidden" value="form_delete_password" name="form_delete_password">
                                    <button class="btn btn-outline-dark" type="submit">
                                        eliminar
                                    </button>
                                </form>
                            </td>
                        </tr>


                        {% if not cookie_pin %}
                            <!-- Modal editar las contraseñas-->
                            <div class="modal fade" id="staticBackdrop_detail_password{{ password.id }}"
                                 data-bs-backdrop="static"
                                 data-bs-keyboard="false" tabindex="-1"
                                 aria-labelledby="staticBackdropLabel{{ password.id }}" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h1 class="modal-title fs-5" id="staticBackdropLabel">Pin de
                                                seguridad</h1>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                    aria-label="Close"></button>
                                        </div>
                                        <form action="" method="post" name="form_password_detail">
                                            {% csrf_token %}
                                            <div class="modal-body">
                                                <div class="input-group flex-nowrap">
                                                    <span class="input-group-text" id="addon-wrapping">Pin</span>
                                                    {{ form.master_key }}
                                                    <input type="hidden" name="form_password_detail">
                                                    <input type="hidden" name="password_id"
                                                           value="{{ password.id }}">
                                                </div>

                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-outline-dark"
                                                        data-bs-dismiss="modal">
                                                    Volver
                                                </button>
                                                <button type="submit" class="btn btn-dark">Ok</button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        {% endif %}
                    {% endfor %}
                    </tbody>
                </table>



            {% else %}
                <h1 class="text-center">No hay contraseñas</h1>

                {% if cookie_pin %}
                    <div class="mt-3 text-lg-end">
                        <a class="btn btn-dark" href="{% url 'Create_Password' %}"> Crear sus propias contraseñas</a>
                    </div>
                {% else %}
                    <div class="mt-3 text-center">
                        <button class="btn btn-dark" type="button"
                                data-bs-toggle="modal" data-bs-target="#staticBackdrop">
                            Crear
                            sus
                            propias
                            contraseñas
                        </button>
                    </div>
                {% endif %}
            {% endif %}

            {% if not cookie_pin %}
                <!-- Modal de Crear contraseña-->
                <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false"
                     tabindex="-1"
                     aria-labelledby="staticBackdropLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                {% if master_key_exist %}
                                    <h1 class="modal-title fs-5" id="staticBackdropLabel">Pin de seguridad</h1>
                                {% else %}
                                    <h1 class="modal-title fs-5" id="staticBackdropLabel">Crea tu Pin</h1>
                                {% endif %}
                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                        aria-label="Close"></button>
                            </div>
                            {% if master_key_exist %}
                                <form action="" method="post" name="form_create_password">
                                    {% csrf_token %}
                                    <div class="modal-body">
                                        <div class="input-group flex-nowrap">
                                            <span class="input-group-text" id="addon-wrapping">Pin</span>
                                            {{ form.master_key }}
                                            <input type="hidden" value="form_create_password"
                                                   name="form_create_password">
                                        </div>

                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-outline-dark" data-bs-dismiss="modal">
                                            Volver
                                        </button>
                                        <button type="submit" class="btn btn-dark">Ok</button>
                                    </div>
                                </form>
                            {% else %}
                                <form action="" method="post" name="form_create_password">
                                    {% csrf_token %}
                                    <div class="modal-body">
                                        <p>Este pin es para poder crear y guardar tus contraseñas también cuando quieras
                                            verlas </p>
                                        <strong>Solo números (máximo y minimo 8 dígitos)</strong>
                                        <div class="input-group flex-nowrap">
                                            <span class="input-group-text" id="addon-wrapping">Pin</span>
                                            {{ form.master_key }}
                                            <input type="hidden" value="form_create_password"
                                                   name="form_create_password">
                                        </div>

                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-outline-dark" data-bs-dismiss="modal">
                                            Volver
                                        </button>
                                        <button type="submit" class="btn btn-dark">Ok</button>
                                    </div>
                                </form>
                            {% endif %}
                        </div>
                    </div>
                </div>
            {% endif %}
        </section>
    </main>
{% endblock %}
