{% extends 'components/Encabezado.html' %} {% block content %}
    <h1>Bienvenido a sus contraseñas</h1>
    {% for password in passwords %}
        <h2>{{ password }}</h2>
        <ul>
            <li><p>{{ password.password_username }}</p></li>
            <li><p>{{ password.password_email }}</p></li>
            <li><p>{{ password.password }}</p></li>

        </ul>
        <ul>
            <li><a href="{% url 'password_detail' password.id %}">Editar</a></li>
            {#            <li><a href="{% url 'Delete_Password' password.id %}">Eliminar</a></li>#}
        </ul>
    {% endfor %}


    <button type="button" onclick="location.href='{% url 'Create_Password' %}'">Crear sus propias contraseñas</button>
{% endblock %}
