{% extends 'components/Encabezado.html' %}
{% block content %}
    <main class="container mt-5 mb-5">
        <section class="card card-body">
            <h1 class="display-1 text-center">Actualizar contraseña</h1>
            <h2 class="display-2 ">{{ password.password_name }}</h2>
            {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
            <form action="" method="post">
                {% csrf_token %}
                <div class="form-floating mb-3">
                    {{ form.password_name }}
                    <label for="floatingInputName">Nombre</label>
                </div>
                <div class="row g-2 mb-3">
                    <div class="col-md">
                        <div class="form-floating">
                            <input type="email" name="password_email"
                                   value="{{ password_email }}"
                                   class="form-control" id="floatingInputEmail" required="" placeholder=""
                                   maxlength="200">
                            <label for="floatingInputEmail">Correo electrónico</label>
                        </div>
                    </div>
                    <div class="col-md">
                        <div class="form-floating">
                            {{ form.password_username }}
                            <label for="floatingInputUsername">Usuario</label>
                        </div>
                    </div>
                </div>
                <div class="form-floating mb-3">
                    <input type="text" name="password" class="form-control" placeholder="Contraseña"
                           required=""
                           id="floatingInputPassword" maxlength="100" autocomplete="off"
                           value="{{ password_password }}">
                    <label for="floatingInputPassword">Contraseña</label>
                </div>
                <div class="form-floating mb-3">
                    {{ form.password_origin }}
                    <label for="floatingInputOrigin">Origen</label>
                </div>
                <div class="text-lg-end">
                    <button class="btn btn-dark mx-3" type="submit">Guardar</button>
                    <a class="btn btn-outline-dark" href="{% url 'Passwords_Page' %}">Volver</a>
                </div>
            </form>

        </section>
    </main>
{% endblock %}