{% extends 'components/Encabezado.html' %} {% block content %}
    <main class="container mt-5" style="min-width: 400px;width: 40%">
        <section class="card card-body">
            <div class="row">
                <div class="col-md-12">
                    <div class="Registro">
                        <h1 class="display-1 text-center">Registro</h1>
                        <form action="" method="post">
                            {% if error %}
                                <h1>{{ error }}</h1>
                            {% endif %}

                            {% csrf_token %}
                            <div class="row g-2">
                                <div class="col-md">
                                    <div class="form-floating">
                                        <input type="email" class="form-control" name="email" id="floatingInputGrid"
                                               placeholder="name@example.com"
                                        >
                                        <label for="floatingInputGrid">Email address</label>
                                    </div>
                                </div>
                                <div class="col-md">
                                    <div class="form-floating mb-3">
                                        <input type="text" class="form-control" name="username" id="floatingInput"
                                               placeholder="name@example.com"
                                               required maxlength="150">
                                        <label for="floatingInput">Usuario</label>
                                    </div>
                                </div>
                            </div>

                            <div class="form-floating mb-3">
                                <input type="password" class="form-control" name="password" id="floatingPassword"
                                       placeholder="Password"
                                       required>
                                <label for="floatingPassword">Contraseña</label>
                            </div>
                            <div class="form-floating">
                                <input type="password" class="form-control" name="password2" id="floatingPassword"
                                       placeholder="Password"
                                       required>
                                <label for="floatingPassword">Confirmar contraseña</label>
                            </div>
                            <div class="container mt-3 text-center">
                                <button class="btn btn-dark"> Registro</button>
                                o
                                <a class="btn btn-outline-dark" href="{% url 'login' %}">Iniciar sesión</a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </section>
    </main>

{% endblock %}
