#input_dec_cif{
    min-height: 200px;
    max-height: 200px;
    min-width: 400px;
    max-width: 500px;
    resize: none;
}
#output_dec_cif{
    min-height: 200px;
    max-height: 200px;
    min-width: 400px;
    max-width: 500px;
    overflow: auto;
} 