
.item {
    padding: 10px;
    flex: 0 1 15%;
}

.item:nth-child(1) {
    flex: 1 1 10%;
} */


#container_CreateKeys {
    min-height: 200px;
    max-height: 200px;
    min-width: 300px;
    max-width: 400px;
}

#container_KeyDetail {
    min-height: 200px;
    max-height: 200px;
    min-width: 300px;
    max-width: 400px;
}

#form_delete_password {
    max-height: 38px;
}
/* ggs */