#input_dec_cif {
    min-height: 200px;
    /*max-height: 200px;*/
    min-width: 400px;
    /*max-width: 500px;*/
    resize: none;
}

#output_dec_cif {
    min-height: 200px;
    /*max-height: 200px;*/
    min-width: 400px;
    /*max-width: 500px;*/
    overflow: auto;
}

#container_CreateKeys {
    min-height: 200px;
    max-height: 200px;
    min-width: 300px;
    max-width: 400px;
}

#container_KeyDetail {
    min-height: 200px;
    max-height: 200px;
    min-width: 300px;
    max-width: 400px;
}

#form_delete_password {
    max-height: 38px;
}